/* Start Variables */
:root {
  --main-color: #19c8fa;
  --transparent-color: #0f748f70;
}

/* End Variables */

/* Start Gloale Rules */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #000;
}

ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small Screen */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium Screen */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large Screen */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Gloale Rules */

/* Start Componants */

/* End Componants */

/* Start Header */
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 5;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header .container::before {
  content: '';
  position: absolute;
  width: calc(100% - 30px);
  height: 1px;
  background-color: #a2a2a2;
  bottom: 0;
  left: 15px;
}

header .container .logo img {
  height: 40px;
}

header .container nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header .container nav ul {
  display: flex;
}

header .container nav ul li a {
  padding: 40px 10px;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 1px solid transparent;
  transition: 0.3s;
  position: relative;
  z-index: 3;
}

header .container nav ul li a.active,
header .container nav ul li a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

header .container nav .form {
  padding: 40px 0 40px 80px;
  color: #fff;
  position: relative;
  cursor: pointer;
}

header .container nav .form:hover i {
  color: var(--main-color);
}

header .container nav .form:hover.form::before {
  background-color: var(--main-color);
  width: 2px;
}

header .container nav .form::before {
  content: '';
  position: absolute;
  width: 1px;
  height: calc(100% - 70px);
  background-color: #fff;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}

@media (max-width: 992px) {
  header .container nav .form {
    padding-left: 50px;
  }
}

@media (max-width: 767px) {
  header .container nav ul {
    display: none;
  }

  header .container .logo {
    padding: 20px 0;
  }

  header .container .burger-menu {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 7px;
  }

  header .container .burger-menu span {
    background-color: #fff;
    height: 2px;
  }

  header .container .burger-menu span:nth-child(1),
  header .container .burger-menu span:nth-child(3) {
    flex-basis: 100%;
  }

  header .container .burger-menu span:nth-child(2) {
    flex-basis: 70%;
    transition: 0.3s;
  }

  header .container .burger-menu:hover span:nth-child(2) {
    flex-basis: 100%;
  }

  header .container .burger-menu:hover {
    transform: translateX(20px);
  }

  header .container .burger-menu:hover span{
    transform: translateX(-10px);
    background-color: var(--main-color);
  }

  header .container .burger-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 15px;
    width: calc(100% - 30px);
    text-align: center;
    background-color: #333333f5;
  }

  header .container .burger-menu:hover + ul li a {
    padding: 20px;
  }
}
/*ُ End Header */

/* Start Landing */
.landing {
  min-height: 100vh;
  background-color: #1f2021;
  background-image: url(../images/landing.jpg);
  background-size: cover;
  position: relative;
}

.landing .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #00000070;
}

.landing .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  padding: 50px;
  background-color: var(--transparent-color);
  color: #fff;
  display: flex;
  justify-content: flex-end;
}

.landing .text .content {
  max-width: 500px;
}

.landing .text .content h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.7;
  margin-bottom: 30px;
}

.landing .text .content p {
  font-size: 13px;
  line-height: 2;
}

.landing .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ddd;
  cursor: pointer;
}

.landing .fa-angle-left {
  left: 30px;
}

.landing .fa-angle-right {
  right: 30px;
}

.landing .bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.landing .bullets li {
  width: 18px;
  height: 18px;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

.landing .bullets li.active {
  background-color: var(--main-color);
  border: 1px solid var(--transparent-color);
}

@media (max-width: 1024px) {
  .landing {
    background-position: 50%;
  }

  .landing .text {
    width: 60%;
    padding-left: 90px;
  }
}

@media (max-width: 768px) {
  .landing {
    background-position: 58%;
  }
  
  .landing .text {
    width: 62%;
    padding-left: 78px;
  }

  .landing .text .content h2 {
    font-size: 24px;
  }

  .landing .text .content p {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .landing {
    background-position: 70%;
  }

  .landing .text {
    width: 100%;
    padding-left: 50px;
  }

  .landing .text .content {
    max-width: 100%;
  }

  .landing .text .content h2 {
    font-size: 21px;
  }

  .landing .text .content p {
    font-size: 11px;
  }

  .landing .change-background {
    display: none;
  }
}
/* End Landing */