/* Start Variables */
:root {
  --main-color: #19c8fa;
  --transparent-color: #0f748f70;
  --paragraph-color: #a8a8a8;
}

/* End Variables */

/* Start Gloale Rules */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

html ::selection {
  color: var(--main-color);
  background-color: #f3f3f3;
}

body {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small Screen */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium Screen */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large Screen */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Gloale Rules */

/* Start Componants */
.main-heading {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.main-heading h2 {
  font-size: 32px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: relative;
}

.main-heading h2::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  background-color: #000;
  bottom: -65%;
  left: 50%;
  transform: translateX(-50%);
}

.main-heading h2::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 50%;
  bottom: -85%;
  left: 50%;
  transform: translateX(-50%);
}

.main-heading p {
  font-size: 13px;
  font-weight: 200;
  color: var(--paragraph-color);
  max-width: 435px;
  line-height: 1.7;
  text-align: center;
}
/* End Componants */

/* Start Header */
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 5;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header .container::before {
  content: '';
  position: absolute;
  width: calc(100% - 30px);
  height: 1px;
  background-color: #a2a2a2;
  bottom: 0;
  left: 15px;
}

header .container .logo img {
  height: 40px;
}

header .container nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header .container nav ul {
  display: flex;
}

header .container nav ul li a {
  padding: 40px 10px;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 1px solid transparent;
  transition: 0.3s;
  position: relative;
  z-index: 3;
}

header .container nav ul li a.active,
header .container nav ul li a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

header .container nav .form {
  padding: 40px 0 40px 80px;
  color: #fff;
  position: relative;
  cursor: pointer;
}

header .container nav .form:hover i {
  color: var(--main-color);
}

header .container nav .form:hover.form::before {
  background-color: var(--main-color);
  width: 2px;
}

header .container nav .form::before {
  content: '';
  position: absolute;
  width: 1px;
  height: calc(100% - 70px);
  background-color: #fff;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}

@media (max-width: 992px) {
  header .container nav .form {
    padding-left: 50px;
  }
}

@media (max-width: 767px) {
  header .container nav ul {
    display: none;
  }

  header .container .logo {
    padding: 20px 0;
  }

  header .container .burger-menu {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 7px;
  }

  header .container .burger-menu span {
    background-color: #fff;
    height: 2px;
  }

  header .container .burger-menu span:nth-child(1),
  header .container .burger-menu span:nth-child(3) {
    flex-basis: 100%;
  }

  header .container .burger-menu span:nth-child(2) {
    flex-basis: 70%;
    transition: 0.3s;
  }

  header .container .burger-menu:hover span:nth-child(2) {
    flex-basis: 100%;
  }

  header .container .burger-menu:hover {
    transform: translateX(20px);
  }

  header .container .burger-menu:hover span{
    transform: translateX(-10px);
    background-color: var(--main-color);
  }

  header .container .burger-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 15px;
    width: calc(100% - 30px);
    text-align: center;
    background-color: #333333f5;
  }

  header .container .burger-menu:hover + ul li a {
    padding: 20px;
  }
}
/*ُ End Header */

/* Start Landing */
.landing {
  min-height: 100vh;
  background-color: #1f2021;
  background-image: url(../images/landing.jpg);
  background-size: cover;
  position: relative;
}

.landing .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #00000070;
}

.landing .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  padding: 50px;
  background-color: var(--transparent-color);
  color: #fff;
  display: flex;
  justify-content: flex-end;
}

.landing .text .content {
  max-width: 500px;
}

.landing .text .content h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.7;
  margin-bottom: 30px;
}

.landing .text .content p {
  font-size: 13px;
  line-height: 2;
}

.landing .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ddd;
  cursor: pointer;
}

.landing .fa-angle-left {
  left: 30px;
}

.landing .fa-angle-right {
  right: 30px;
}

.landing .bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.landing .bullets li {
  width: 18px;
  height: 18px;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

.landing .bullets li.active {
  background-color: var(--main-color);
  border: 1px solid var(--transparent-color);
}

@media (max-width: 1024px) {
  .landing {
    background-position: 50%;
  }

  .landing .text {
    width: 60%;
    padding-left: 90px;
  }
}

@media (max-width: 768px) {
  .landing {
    background-position: 58%;
  }
  
  .landing .text {
    width: 62%;
    padding-left: 78px;
  }

  .landing .text .content h2 {
    font-size: 24px;
  }

  .landing .text .content p {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .landing {
    background-position: 70%;
  }

  .landing .text {
    width: 100%;
    padding-left: 50px;
  }

  .landing .text .content {
    max-width: 100%;
  }

  .landing .text .content h2 {
    font-size: 21px;
  }

  .landing .text .content p {
    font-size: 11px;
  }

  .landing .change-background {
    display: none;
  }
}
/* End Landing */

/* Start Services */
.services-content {
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px;
}

.services-content .box {
  flex-basis: 45%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 90px;
}

.services-content .box i {
  padding-top: 5px;
}

.services-content .box .srv-info h3 {
  font-weight: normal;
  margin-bottom: 30px;
  color: var(--main-color);
  font-size: 1.3rem;
}

.services-content .box .srv-info p {
  color: var(--paragraph-color);
  font-size: 13px;
  line-height: 2;
  text-align: justify;
  hyphens: auto;
}

@media (max-width: 1024px) {
  .services-content .box {
    gap: 65px;
  }
}

@media (max-width: 992px) {
  .services-content .box {
    flex-basis: 100%;
  }
}

@media (max-width: 768px) {
  .services-content .box {
    flex-basis: 100%;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .services-content .box .srv-info p,
  .services-content .box .srv-info h3 {
    text-align: center;
  }

  .services-content .box .srv-info p {
    max-width: 500px;
  }
}

@media (max-width: 425px) {
  .services-content {
    gap: 50px;
  }
}
/* End Services */

/* Start Design */
.design {
  padding-top: 80px;
  padding-bottom: 80px;
  height: 600px;
  position: relative;
  background-image: url(../images/design-features.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.design::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #00000070;
}

.design .image,
.design .text {
  position: relative;
  z-index: 2;
  flex: 1;
}

.design .image {
  text-align: center;
}

.design .image img {
  position: relative;
  bottom: -150px;
}

.design .text {
  color: #fff;
  padding: 50px;
  background-color: var(--transparent-color);
}

.design .text h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.7;
  margin-bottom: 30px;
}

.design .text ul li {
  padding: 15px 0;
}

.design .text ul li::before {
  font-family: "Font Awesome 6 Free";
  content: '\f108';
  font-weight: 900;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .design {
    background-position: 50% 0;
  }

  .design .image{
    display: none;
  }

  .design .text h2 {
    font-size: 22px;
  }
}
/* End Design */

/* Start Portfolio */
.portfolio {
  margin-bottom: 80px;
}

.portfolio .shuffle {
    max-width: 450px;
    margin: 0 auto 40px
}

.portfolio .shuffle ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio .shuffle ul li {
  text-transform: uppercase;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  padding: 7px 15px;
}

.portfolio .shuffle ul li.active {
  color: #fff;
  background-color: var(--main-color);
  font-weight: 500;
}

.portfolio .shuffle ul li:hover {
  color: #fff;
  background-color: var(--main-color);
  font-weight: 500;
} 

.portfolio .images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.portfolio .images .box {
  flex-basis: 25%;
  position: relative;
  overflow: hidden;
}

.portfolio .images .box img {
  width: 100%;
  display: block;
  transition: 0.3s;
}

.portfolio .images .box .plus {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #19c8fabf;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  color: #fff;
  font-size: 100px;
  font-weight: 200;
  border-radius: 50%;
  transition: 0.3s;
  display: none;
}

.portfolio .images .box:hover .plus {
  display: flex;
  cursor: pointer;
}

.portfolio .images .box:hover .plus:hover {
  box-shadow: #b9deff inset 0px 0px 5px 1px;
}

.portfolio .images .box:hover img {
  transform: rotate(3deg) scale(1.1);
}

.portfolio .images .box .caption {
  padding: 20px;
  position: absolute;
  z-index: 5;
  bottom: -100%;
  background-color: #fff;
  width: 100%;
  transition: 0.3s;
}

.portfolio .images .box:hover .caption {
  bottom: 0;
}

.portfolio .images .box .caption h4 {
  color: #333;
  font-weight: normal;
  font-size: 18px;
  padding-bottom: 10px;
}

.portfolio .images .box .caption p {
  color: var(--main-color);
  font-size: 12px;
}

.portfolio .btn {
  padding: 10px 0;
  background-color: var(--main-color);
  width: 150px;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.portfolio .btn:hover {
  box-shadow: #b9deff inset 0px 0px 5px 1px;
}

@media (max-width: 1024px) {
  .portfolio .images .box {
    flex-basis: 50%;
  }
}

@media (max-width: 425px) {
  .portfolio .shuffle {
    max-width: 350px;
  }

  .portfolio .shuffle ul li {
    font-size: 12px;
  }

  .portfolio .images .box {
    flex-basis: 100%;
  }
}
/* End Portfolio */

/* Start Video */
.video {
  position: relative;
}

.video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99.1%;
  background-color: #00000040;
}

.video video {
  width: 100%;
  aspect-ratio: 21 / 9;
  object-fit: cover;
}

.video .text {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  padding: 60px;
  color: #fff;
  text-align: center;
  background-color: var(--transparent-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}


.video .text h2 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 24px;
}

.video .text p {
  font-size: 13px;
}

.video .text .btn {
  padding: 10px 0;
  background-color: #313131;
  width: 150px;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.3s;
}

.video .text .btn:hover {
  background-color: #fff;
  color: #313131;
  border: 1px solid #313131;
}

@media (max-width: 768px) {
  .video video {
    aspect-ratio: 16 / 9;
  }
}

@media (max-width: 425px) {
  .video .text {
    padding: 30px;
    gap: 15px;
  }

  .video .text h2 {
    font-size: 16px;
  }

  .video .text p {
    font-size: 11px;
  }

  .video .text .btn {
    font-size: 14px;
    padding: 7px 0;
  }
}
/* End Video */

/* Start About */
.about {
  overflow: hidden;
  text-align: center;
}

.about img {
  position: relative;
  bottom: -120px;
  margin-top: -120px;
  max-width: 100%;
}

@media (max-width: 767px) {
  .about img {
    bottom: -70px;
    margin-top: -70px;
  }
}
/* End About */

/* Start Stats */
.stats {
  padding: 80px 0;
  text-align: center;
  background-image: url(../images/stats.png);
  background-size: cover;
  position: relative;
}

.stats::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0  / 70%);
  left: 0;
  top: 0;
}

.stats .container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.stats .container .box {
  color: #fff;
  padding: 50px;
  background-color: var(--transparent-color);
}

.stats .container .box i {
  position: relative;
  z-index: 1;
  margin: 15px;
}

.stats .container .box i::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #333;
  left: 50%;
  top: -10px;
  padding: 5px;
  z-index: -1;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  transform: translateX(-50%) rotate(90deg);
}

.stats .container .box .number {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 15px;
}

.stats .container .box p {
  font-size: 13px;
  font-weight: 300;
}

@media (max-width: 767px) {
  .stats .container .box {
    flex-basis: 100%;
  }
  
  .stats .container .box:not(:last-child) {
    border-bottom: 1px solid var(--main-color);
  }
}

@media (min-width: 768px) {
  .stats .container .box {
    flex-basis: 50%;
  }
}

@media (min-width: 992px) {
  .stats .container .box {
    flex-basis: 25%;
  }
}
/* End Stats */

/* Start Skills */
.our-skills {
  margin: 80px 0;
}

.our-skills .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.our-skills .container .testimonials,
.our-skills .container .skills {
  position: relative;
}

@media (min-width: 992px) {
  .our-skills .container .testimonials,
  .our-skills .container .skills {
    flex-basis: 45%;
  }
}

@media (max-width: 991px) {
  .our-skills .container .skills {
    padding-top: 60px;
    margin: 0 auto;
  }
}

.our-skills .container .testimonials h3,
.our-skills .container .skills h3{
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.our-skills .container .testimonials p,
.our-skills .container .skills p {
  font-size: 13px;
  color: var(--paragraph-color);
  text-align: center;
  margin-bottom: 40px;
  line-height: 1.7;
}

.our-skills .container .testimonials .box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  position: relative;
  margin-bottom: 40px;
}

.our-skills .container .testimonials .box img {
  width: 25%;
  border-radius: 50%;
}

.our-skills .container .testimonials .box .text {
  padding: 25px 0;
  font-weight: 300;
  font-size: 13px;
  line-height: 2;
  border-bottom: 1px solid #333;
}

.our-skills .container .testimonials .box .text p {
  color: var(--paragraph-color);
  position: absolute;
  right: -5px;
}

.our-skills .bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.our-skills .bullets li {
  width: 12px;
  height: 12px;
  border: 1px solid #000;
  border-radius: 50%;
  cursor: pointer;
}

.our-skills .bullets li.active {
  background-color: var(--main-color);
  border: 1px solid var(--transparent-color);
}

.our-skills .skills .prog-holder {
  margin-bottom: 30px;
}

.our-skills .skills .prog-holder h4 {
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 10px;
  padding-left: 5px;
}

.our-skills .skills .prog-holder .prog {
  width: 100%;
  height: 30px;
  background-color: #dedadc;
}

.our-skills .skills .prog-holder .prog span {
  display: block;
  height: 100%;
  background-color: var(--main-color);
  position: relative;
}

.our-skills .skills .prog-holder .prog span::before {
  content: attr(data-progress);
  position: absolute;
  font-size: 11px;
  color: #fff;
  background-color: #333;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 0 10px;
  top: -40px;
  right: 0;
  transform: translateX(50%);
}

.our-skills .skills .prog-holder .prog span::after {
  content: '';
  position: absolute;
  border: 5px solid transparent;
  border-top: 5px solid #333;
  top: -10px;
  right: 0;
  transform: translateX(50%);
}
/* End Skills */

/* Start Quote */
.quote {
  height: 400px;
  background-image: url(../images/quote.jpg);
  background-size: cover;
  position: relative;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0  / 40%);
}

.quote q,
.quote span {
  position: relative;
}

.quote q {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: 20px;
  display: block;
}

.quote q::before {
  font-family: "Font Awesome 6 Free";
  content: '\f10d';
  font-size: 20px;
}

.quote q::after {
  font-family: "Font Awesome 6 Free";
  content: '\f10e';
  font-size: 20px;
}

.quote span {
  font-size: 13px;
}
/* End Quote */

/* Start Pricing */
.pricing .pricing-table {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}

.pricing .pricing-table .pricing-box {
  background-color: #fcfcfc;
  flex-basis: 23%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pricing .pricing-table .pricing-box .price {
  color: #1f2021;
  padding: 40px 0;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

.pricing .pricing-table .pricing-box .price .plan {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 10px;
}

.pricing .pricing-table .pricing-box .price .money {
  position: relative;
  font-size: 60px;
  font-weight: 500;
}

.pricing .pricing-table .pricing-box .price .money::before {
  content: '/MO';
  position: absolute;
  font-size: 13px;
  bottom: 10%;
  right: 20%;
}

.pricing .pricing-table .pricing-box .price .money::after {
  content: '$';
  position: absolute;
  font-size: 20px;
  top: 10%;
  left: 25%;
}

.pricing .pricing-table .pricing-box .features {
  color: #1f2021;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20%;
}

.pricing .pricing-table .pricing-box .features .feature {
  padding: 30px 0;
  font-size: 16px;
}

.pricing .pricing-table .pricing-box .features .feature:not(:last-child) {
  border-bottom: 1px solid var(--main-color); 
}

.pricing .pricing-table .pricing-box .buy-btn {
  padding: 40px 0;
  border-top: 1px solid var(--main-color); 
  border-bottom: 1px solid var(--main-color); 
}

.pricing .pricing-table .pricing-box .buy-btn .btn {
  font-size: 16px;
  border: 1px solid var(--main-color);
  background-color: #fff;
  color: #1f2021;
  width: fit-content;
  margin: 0 auto;
  padding: 15px 30px;
  cursor: pointer;
  transition: 0.3s;
}

.pricing .pricing-table .pricing-box .buy-btn .btn:hover {
  border: 1px solid #1f2021;
  background-color: var(--main-color);
  color: #fff;
}

.pricing .special-price {
  text-align: center;
  padding-bottom: 100px;
}

.pricing .special-price .special-request {
  color: #1f2021;
  font-size: 20px;
  padding-bottom: 40px;
}

.pricing .special-price .special-request-btn {
  font-size: 16px;
  border: 1px solid transparent;
  background-color: var(--main-color);
  color: #fff;
  width: fit-content;
  margin: 0 auto;
  padding: 15px 30px;
  cursor: pointer;
  transition: 0.3s;
}

.pricing .special-price .special-request-btn:hover {
  border: 1px solid var(--main-color);
  background-color: #fff;
  color: #1f2021;
}

@media (max-width: 991px) {
  .pricing .pricing-table {
    flex-wrap: wrap;
    row-gap: 40px;
  }

  .pricing .pricing-table .pricing-box {
    flex-basis: 47%;
  }

  .pricing .pricing-table .pricing-box .price .money::before {
    right: 29%;
  }

  .pricing .pricing-table .pricing-box .price .money::after {
    left: 33%;
  }
}

@media (max-width: 767px) {
  .pricing .pricing-table {
    justify-content: center;
  }

  .pricing .pricing-table .pricing-box {
    flex-basis: 96%;
  }

  .pricing .pricing-table .pricing-box .features {
    padding: 0 28%;
  }
}

@media (max-width: 375px) {
  .pricing .special-price .special-request {
    font-size: 18px;
  }
}
/* End Pricing */

/* Start Subscribe */
.subscribe {
  padding: 100px 0;
  background-image: url(../images/subscribe.jpg);
  background-size: cover;
  position: relative;
}

.subscribe::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  left: 0;
  top: 0;
}

.subscribe .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.subscribe .subscribe-form {
  border: 1px solid #fff;
  flex-basis: 58%;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.subscribe .subscribe-form i {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.subscribe .subscribe-form input[type=email] {
  background-color: transparent;
  border: none;
  color: #fff;
  padding: 20px;
  font-size: 13px;
  flex-basis: 80%;
}

.subscribe .subscribe-form input[type=email]::placeholder {
  color: #fff;
  opacity: 1;
  text-transform: uppercase;
  transition: opacity 0.3s;
}

.subscribe .subscribe-form input[type=email]:focus {
  outline: none;
}

.subscribe .subscribe-form input[type=email]:focus::placeholder {
  opacity: 0;
}

.subscribe .subscribe-form input[type=submit] {
  flex-basis: 20%;
  padding: 20px 0;
  border: none;
  background-color: var(--main-color);
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  transition: 0.3s;
}

.subscribe .subscribe-form input[type=submit]:hover {
  background-color: #fff;
  color: #1f2021;
}

.subscribe p {
  flex-basis: 38%;
  color: #fff;
  font-size: 13px;
  line-height: 2;
}

@media (max-width: 991px) {
  .subscribe .container {
    flex-wrap: wrap;
    row-gap: 30px;
  }

  .subscribe .subscribe-form, .subscribe p{
    flex-basis: 100%;
  }

  .subscribe p {
    text-align: center;
  }
}

@media (max-width: 425px) {
  .subscribe .subscribe-form input[type=email] {
    flex-basis: 75%;
  }

  .subscribe .subscribe-form input[type=submit] {
    flex-basis: 25%;
  }
}
/* End Subscribe */